.game {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}

.game,
.body,
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction {
  width: 250px;
  margin-bottom: 16px;
  background: #222;
  border-radius: 16px;
  overflow: hidden;

  .help,
  .timer {
    color: #666;
    text-align: center;
    padding: 16px;
  }
  .timer {
    box-shadow: 0 0 0 1px rgba($color: #fff, $alpha: 0.09);
  }
}

.body {
  margin: 0 auto;
  width: 249px;
  border-radius: 16px;
  overflow: hidden;

  .top {
    height: 230px;
    width: 100%;
    background: #222;
  }

  .bottom {
    width: 100%;

    .number {
      background: none;
      color: #fff;
      width: 83px;
      height: 83px;
      font-size: 25px;
      font-weight: 150;
      border: none;
      box-shadow: 0 0 0 1px rgba($color: #fff, $alpha: 0.09);

      &:focus,
      &:active {
        outline: none;
        border: none;
      }
    }
  }
}

.star {
  display: inline-block;
  margin: 10px 18px;
}

.star:after {
  content: "\2605";
  font-size: 32px;
  color: rgba($color: #fff, $alpha: 0.2);
}

.timer {
  color: #666;
}

.game-done {
  .message {
    font-size: 250%;
    font-weight: 100;
    margin-bottom: 32px;
  }
  .game-done-btn {
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 50px;
    background: none;
    color: #666;
    border: none;
    box-shadow: 0 0 0 0.5px rgba($color: #fff, $alpha: 0.5);

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      background: rgba($color: #fff, $alpha: 0.2);
      color: #222;
    }
  }
}
